$side-menu-float-width: 700px; // min screen width for side menu to float over content (this value is also hardcoded in folder tree)
$side-menu-full-screen-width: 500px; // min screen width for side menu to be full screen
$theme-switch-delay: 300ms; // theme switch transition duration
$base-border-radius: 4px;
$mx-border-radius: 8px; // max border radius
$collapse-duration: 0.7s;
$side-menu-collapse-duration: 0.4s;