@use "../../../../../styles/variables";

.explorer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .name, .size {
        width: clamp(80px, 20vw, 200px);
        flex-shrink: 0;
        padding: 0.35rem 0.2rem;
    }
    
    .name {
        margin-right: 10px;
        word-break: break-all;
    }
    
    .date {
        width: fit-content;
        padding: 0.35rem 0.2rem;
    }

    .heading {
        font-size: 0.7rem;
        font-weight: 500;

        .name.selection-mode {
            margin-left: calc(20px + 0.5rem);
        }
    }

    .heading, .list-item, .item-content {
        display: flex;
        align-items: start;
        gap: 0.5rem;
    }

    .list {
        flex: 1;
        overflow-y: auto;
        font-size: 0.8rem;

        &::-webkit-scrollbar {
            width: 5px;
        }

        .list-item {
            transition: background-color 0.2s ease-in-out;
            width: fit-content;
            align-items: start;

            .item-content {
                cursor: pointer;

                &.selected {
                    background-color: var(--selected-bg) !important;
                }
                &.selected:hover {
                    background-color: var(--bg-interactive) !important;
                }
            }

            &:hover {
                .item-content {
                    background-color: var(--bg-interactive);
                }
            }

            .checkbox {
                width: 20px;
                height: 20px;
                padding: 2px;
                margin-top: 3px;
                cursor: pointer;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .size, .date {
                white-space: nowrap;
            }

            .name {
                display: flex;
                align-items: start;
                gap: 0.3rem;
                white-space: wrap;

                input {
                    width: calc(100% - 10px);
                    border: 1px solid var(--border);
                    border-radius: variables.$base-border-radius;
                    padding: 0.2rem;
                    outline: none;
                    background-color: var(--bg-interactive);
                    color: var(--text-primary);
                }
            }
        }

    }
}