@use "../../../../../styles/variables";
$node-gap: 10px;
.path {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    gap: $node-gap;
    border: 1px solid var(--border);
    border-radius: variables.$base-border-radius;
    padding: 0.2rem 0.5rem;
    overflow: hidden;

    .system-tag {
        display: flex;
        align-items: center;
        gap: $node-gap;
    }

    .user-tag {
        display: flex;
        align-items: center;
        gap: $node-gap;
        font-size: 0.8rem;
        
        .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }

    .sub-nodes {
        display: flex;
        align-items: center;
        gap: $node-gap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 2px;
        }
    }
    .node {
        font-size: 0.9rem;
        font-weight: 400;
        cursor: pointer;
        white-space: nowrap;
        padding: 3px 0;

        &.root {
            padding: 0;
        }
    }
}